@media only screen and (min-width: 1115px) {
  .menu {
    display: none;
  }

  .main-navbar .navbar-links {
    display: flex;
    position: static;
  }

  .main-navbar .navbar-links ul {
    list-style-type: none;
    display: flex;
  }

  .main-navbar .navbar-links ul li {
    padding-left: 1.5em;
  }

  .information {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .information .text {
    width: 45%;
    padding-left: 2em;
    margin-top: 0px;
  }

  .projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .projects .project {
    padding: 0em;
  }
}
