* {
  font-family: Verdana;
  padding: 0px;
  margin: 0px;
}

h2 {
  margin: 1em 0px 1em 0px;
}

.main-navbar {
  background-color: lightgray;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-size: 1.5rem;
  padding: 0.4em 1em 0.4em 1em;
}

.menu {
  background-color: gray;
  width: 1.5em;
  height: 1.5em;
}

.main-navbar .navbar-links {
  display: none;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3em 1em 3em 1em;
}

.information .img {
  background-color: gray;
  width: 250px;
  height: 250px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  font-size: 1.23rem;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.23rem;
  margin: 3em 1em 3em 1em;
}

.about-me .interest-text {
  width: 75%;
  border-bottom: 2px solid darkgray;
  padding: 1.5em 1em 1.5em 1em;
}

.about-me .hobby-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me .hobby-text .main-p {
  width: 75%;
  padding: 1.5em 1em 1.5em 1em;
}

.about-me .hobby-text .favorite-game {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me .hobby-text .favorite-game p {
  width: 50%;
}

.about-me .hobby-text .favorite-game .img {
  background-color: gray;
  width: 5em;
  height: 5em;
  margin-right: 2em;
}

.projects {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  align-items: center;
  font-size: 1.23rem;
  margin: 3em 1em 3em 1em;
}

.projects .project {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects .project .flavour-text {
  width: 50%;
}

.projects .project .flavour-text h3 {
  padding-bottom: 1em;
}

.projects .project .img {
  background-color: gray;
  width: 10em;
  height: 10em;
  margin-right: 2em;
}

.future-plans {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  align-items: center;
  font-size: 1.23rem;
  margin: 3em 1em 3em 1em;
}

.future-plans p {
  width: 75%;
}

footer {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  margin-top: 3em;
}

footer .contact {
  display: flex;
  padding: .5em;
}

footer .img {
  background-color: gray;
  width: 1em;
  height: 1em;
  margin-right: .7em;
}