* {
  margin: 0px;
  padding: 0px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

:root {
  --blue: #364F6B;
  --cyan: #3FC1C9;
  --white: #F5F5F5;
  --pink: #FC5185;
}

body {
  background-color: var(--white);
}

.item-model {
  background-color: var(--cyan);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 350px;
  max-height: 100px;
  padding: 0.5em;
/*  border-right: 5px solid var(--blue);
  border-bottom: 5px solid var(--blue); */
  border-radius: 10px;
}

.item-model img {
  width: 15em;
  height: auto;
  margin-bottom: 1em;
  border-radius: 15px;
}
