* {
    margin: 0px;
    padding: 0px;
}

/* Variable */
:root {
    --White: #FFFF;
    --LightGray: rgb(230 , 230, 230);
    --Gray: rgb(200, 200, 200);
}

body {
    background-color: var(--LightGray);
}

/*
    Naigation Bar
*/

.navbar-top {
    display: flex;
    justify-content: space-evenly;
    padding: 1.5em;
}

.navbar-top .icon {
    background-color: var(--White);
    display: flex;
    width: auto;
    height: 1.5em;
    padding: 1em .5em 1em .5em;
    align-items: center;
}

.search-bar input {
    width: 25vw;
    padding: 1em;   
    border-radius: 1.5em;
}

.navbar-top .shop-cart {
    background-color: var(--White);
    display: flex;
    width: auto;
    height: 1.5em;
    padding: 1em .5em 1em .5em;
    align-items: center;
}

.login-register {
    display: flex;
    align-items: center;
}

/*
    Header
*/

.shop-header {
    background-color: var(--Gray);
    display: flex;
    justify-content: center;
    padding: .3em;
}

.shop-header .categories {
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.3rem;
    color: var(--White);
}

/*
    Main
*/

.shop-main {
    display: flex;
}

.shop-main .side-bar {
    width: 20%;
    padding: 1em;
    margin: 5px;
}

.shop-main .side-bar .filters {
    border: .1em solid var(--Gray);
    padding: .5em;
}

.shop-items {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1em;
    margin: 5px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

.img {
    background-color: var(--Gray);
    width: 150px;
    height: 175px;
}

/*
    Footer
*/

.shop-footer {
    background-color: var(--Gray);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1em;
}
