@import "colors";
@import "shadow-string";

main {
    display: grid;
    place-items: center;
    
    .container-cars {
        display: grid;

        .car {
            background-color: $color-powderblue;

            border: 3px solid $color-charcoal;
            border-radius: 3%;

            color: $color-cinnabar;
            font-weight: bold;
            @include long-shadow($color-cinnabar, $color-powderblue, 2);

            box-shadow: 0px 5px 7px $color-powderblue;

            padding: 1rem;
        }
    }
}
